/* -------------------- 全局基础设置 -------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    /* 禁止用户选中文字 */
}

html,
body {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    /*滚动平滑*/
    transition: background-color 0.3s ease;
    /* 背景颜色切换时平滑过渡 */
    background-color: #fff;
    /* 默认浅色背景为白色 */
}

/* -------------------- 深色模式样式 -------------------- */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode a {
    color: #fff;
}

body.dark-mode .navbar {
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.6);
}

body.dark-mode .scroll-item,
body.dark-mode .scroll-item2 {
    background-color: #444;
    color: #fff;
    border-color: #666;
}

body.dark-mode hr {
    color: #666;
}

body.dark-mode .hover-box>button {
    background-color: #333;
}

body.dark-mode .popup {
    background-color: #444;
    border: 1px solid #000;
}


/* -------------------- 夜间模式按钮 -------------------- */
#mode-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

#mode-toggle-img {
    width: 24px;
    height: 24px;
    transition: filter 1 ease;
}

body.dark-mode #mode-toggle-img {
    filter: invert(1);
}

/* -------------------- 文本样式 -------------------- */
h2 {
    text-align: center;
}

p {
    text-align: center;
}

hr {
    margin: 0 auto;
    width: 15%;
    height: 2px;
    color: #333;
}

/* -------------------- 图片样式 -------------------- */
img {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 10px;
    vertical-align: middle;
    opacity: 1;
}

img:hover {
    transform: scale(1.1);
    /* 鼠标悬停放大图片 */
}

img[data-src] {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* 加载状态提示样式 */
#loading-status {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1000;
}


/* -------------------- 链接样式 -------------------- */
a {
    text-decoration: none;
    color: #000;
}

/* -----------------覆盖层：入场--------------*/

.welcome {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: none;
    background-color: #fff;
    transition: opacity 2s ease;
}

.welcome p {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 50px;
    color: #000;
    opacity: 1;
    transition: opacity 2s ease;
}


@media (max-width: 510px) {
    .welcome-text p {
        font-size: 40px;
    }
}

@media (max-width: 405px) {
    .welcome-text p {
        font-size: 30px;
    }
}

#network-panel {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    max-height: 50%;
    overflow-y: auto;
    color: #000;
    font-family: monospace;
    font-size: 12px;
    padding: 10px;
    z-index: 9999;
    scrollbar-width: none;
}

.network-entry {
    margin-bottom: 5px;
}

.type {
    font-weight: bold;
}

/* -------------------- 导航栏样式 -------------------- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    color: #333;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 0 0 10px 10px;
    /* transition: top 0.3s ease; */
    /* 用于滚动时隐藏/显示导航栏 */
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

@media (max-width: 440px) {

    .navbar {
        padding: 10px;
    }

    .navbar .logo p,
    .navbar a {
        font-size: 12px;
    }

    .nav-links {
        gap: 15px;
    }
}

@media (max-width: 350px) {

    .navbar {
        padding: 8px;
    }

    .navbar .logo p,
    .navbar a {
        font-size: 10px;
    }

    .nav-links {
        gap: 10px;
    }
}

/* -------------------- 顶部封面区 -------------------- */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background: url(http://www.98qy.com/sjbz/api.php) no-repeat center/cover;*/
    background: url(https://pic.re/image) no-repeat center/cover;
    color: #fff;
    text-align: center;
    background-color: #aaa;
}

@media (max-width: 480px) {
    .hero {
        background: url(https://t.mwm.moe/mp) no-repeat center/cover;
    }
}


.hero .box,
.hero h3 {
    padding: 0 10px 0 10px;
    background-color: rgba(10, 10, 10, 0.1);
    border-radius: 5px;

}

.hero h3 {
    margin-top: 90px;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* --------------------  下滑按钮  -------------------- */
#scroll-down-btn {
    margin-top: 90px;
    font-size: 50px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative;

    animation: bounce 2s infinite;
}

/* 主箭头 */
#scroll-down-btn span {
    display: block;
    animation: fadeArrow 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

/* 第二条箭头 */
#scroll-down-btn::after {
    content: "﹀";
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: #888;
    opacity: 0;
    animation: fadeArrow 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
    animation-delay: 0.2s;
}

/* 第三条箭头 */
#scroll-down-btn::before {
    content: "﹀";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: #000;
    opacity: 0;
    animation: fadeArrow 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
    animation-delay: 0.4s;
}

/* 渐显渐隐动画 */
@keyframes fadeArrow {

    0%,
    40% {
        opacity: 0;
    }

    50%,
    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* 弹跳动画 */
@keyframes bounce {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(20px);
    }
}

/* -------------------- 内容段落区域 -------------------- */
.section {
    padding: 50px 20px;
    text-align: center;
}

/* -------------------- 横向滚动容器 -------------------- */
.scroll-container {
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 10px;
    padding: 10px;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding-left: 0;
    scrollbar-width: none;
    /* Firefox 隐藏滚动条 */
}

/* -------------------- 滚动项（大） -------------------- */
.scroll-item {
    flex-shrink: 0;
    min-width: 300px;
    min-height: 200px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 5px;
    margin-left: 0;
}

/* -------------------- 滚动项（小） -------------------- */
.scroll-item2 {
    flex-shrink: 0;
    min-width: 200px;
    min-height: auto;
    background-color: #fff;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 5px;
}

/* -------------------- 滚动两侧按钮 -------------------- */
.scroll-wrapper {
    position: relative;
    width: 100%;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    font-size: 28px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
    border-radius: 6px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

.scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.scroll-btn.left {
    left: 5px;
}

.scroll-btn.right {
    right: 5px;
}

body.dark-mode .scroll-btn {
    color: #fff !important;
}



/* 我QQ */
.hover-box {
    position: relative;
    display: inline-block;
}

.hover-box>button {
    border: none;
    color: #f00;
}


.popup {
    display: none;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    min-width: 100px;
    z-index: 99;
    /* box-shadow: 0 0 1px 3000px rgba(0, 0, 0, 0.307);  */
}

.popup a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
}

.popup a:hover {
    background-color: #f0f0f0;

}
